header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: #1f2937;
    padding: auto;    
}
header div{
    margin: auto;
    
}

header p,
header a{
    margin: auto;
    padding: 0 25px 0 25px;
    color: #F9FAF8;
    font-size: 24px;
}

.container{
    display: flex;
    background-color: #1f2937;
    padding: 50px;
}
#hero{
    padding: auto;
    margin: auto;
    width: 30%;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
#hero p {
    font-size: 18px;
    color: #e5e7eb;
    
}
#hero aside{
    padding: 20px;
    width: 100%;
}
button{
    background: #4949fc;
    border-radius: 999px;
    box-shadow: #4949fc 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;cursor: pointer;

}
img{
    border: 5px #4e84e9a2 solid;
    border-radius: 15%;
    margin: auto;
}

#photo-container{
    flex-direction: column;
    background-color: #e1e3ec;
}
#photos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: auto;
    width: 75%;
    margin: auto;
    font-size: 15px;
    text-align: center;

}
#information-header{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align:center
}
#photo-container p{
    color: #212f4b;
}